html,
body,
#app{
    margin: 0;
    padding: 0;
    height: 100%;
    min-width: 1200px;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

.el-breadcrumb{
    margin-bottom: 15px;
    font-size: 12px;
}

.el-card{
    height: 80%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15)!important;
}
.el-table{
    font-size: 14px;
    margin-top: 15px;
}
.el-pagination{
    margin-top: 15px;
}

.el-table td,.el-table th{
    text-align: center;
}
.el-table .cell{
  white-space: nowrap!important;
}
.el-table td,.el-table td{
  white-space: nowrap!important;
  overflow: hidden;
  text-overflow: ellipsis;
}
.el-submenu .el-menu-item{
    padding: 0;
}

.el-submenu__title{
    padding-left: 10px;
}
ul,ol{
  list-style-type: none;
}
.el-menu--horizontal>.el-submenu.is-active .el-submenu__title{
    border-bottom: transparent;
  }
.el-switch__label {
    position: absolute;
    display: none;
    font-size: 11px !important;
    color: #fff!important;
  }
  .el-switch__label *{
    font-size: 11px !important;
    width: 30px;
  }
  /*打开时文字位置设置*/
  .el-switch__label--right {
    z-index: 1;
    right: 12px;
    top: 0.5px;
  }
  /*关闭时文字位置设置*/
  .el-switch__label--left {
    z-index: 1;
    left: 12px; 
    top: 0.5px;
  }
  /*显示文字*/
  .el-switch__label.is-active {
    display: block;
  }
  .el-switch__core {
    width: 45px;
    height: 22px;
    border: 2px solid #DCDFE6;
    border-radius: 13px;
  }

  .el-loading-spinner i{
      color: #fff;
  }
  .el-loading-spinner .el-loading-text{
      color: #fff;
  }
